body{
    margin: 0px;
    padding: 0px;
}
.mainImg {
    margin-top: -18px;
    width: 100%;
}
.logo {
    padding-left: 25px;
    padding-top: 5px;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
nav{
    display: flex;   
    background-color: black;
    height: 110px;
    width: 100%;
    color: white;
}
nav > h1 {
    font-family: 'Bungee Shade', cursive;
    margin-top: -25px;
    word-spacing: 10px;
    font-size: 60px;
}
.links {
    margin-top: 45px;
    margin-left: 50px;

}
a {
    text-decoration: none;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Peralta', cursive;
    color: white;
    font-size: 20px;
    padding-right: 25px;
}
a:hover {
    text-decoration: underline;
    font-size: 25px;
    margin-left: -20px;
}
a:visited {
    color: white;
}
.main-head{
    font-family: 'Bungee Shade', cursive;
    font-family: 'Peralta', cursive;
    margin-top: -470px;
    margin-left: 190px;
    font-size: 35px;
    color: white;
}
.main-head2{
    font-family: 'Bungee Shade', cursive;
    font-family: 'Peralta', cursive;
    margin-top: -30px;
    margin-left: 50px;
    font-size: 35px;
    color: white;
}
.material{
    background-color: rgb(9, 129, 209);
    padding-left: 40px;
    margin-top: 350px;
}
.material>h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
}
.material>ul{
    margin-top: -50px;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Peralta', cursive;
    color: black;
}
.material ul li{
    font-size: 30px;
    color: rgb(209, 192, 205);
}
.material ul li:hover{
    text-decoration: underline;
}
.material p{
    font-size: 20px;
}
.img1{
    height: 370px;
    width: 707px;
    margin-left: 410px;
    margin-top: -25px;
    border-radius: 20px;
}
.img1:hover{
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
    width: 720px;
    height: 390px;
}
footer{
    margin-top: -20px;
    background-color: #1d2b34;
    height: 200px;
    width: 100%;
}
.foot{
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
    color: rgb(187, 183, 183);
    font-family: 'Architects Daughter', cursive;
}
.sps{
    font-size: 20px;
    color: rgb(187, 183, 183);
    font-family: 'Architects Daughter', cursive;
}
.sps:hover{
    text-decoration: underline;
    padding-left: 20px;
    color: green;
}
#info{
    text-align: center;
    font-size: 20px;
    color: rgb(187, 183, 183);
    font-family: 'Architects Daughter', cursive;
}
